div#pagebody {
	width:auto; margin:0 auto;	/*内容全体をセンタリング*/
	text-align:left;	/*テキストの配置を左揃えにする*/
	/*background-image:url("img/bg_pagebody.gif");*/	/*内容全体の背景*/
	background-repeat:repeat-y;		/*背景画像を縦方向に繰り返す*/
	background-color:#FFF;		/*内容全体の背景色*/
}

/*PC, タブレット画面用*/
@media(min-width: 736px){
	.wrapper {
			display: grid;
			grid-template-columns: 11fr 9fr;
			grid-template-rows: auto auto;
			grid-gap: 10px;
	}
	.container-donation {
			display: flex;
			flex-direction: column;
			align-items: center; /* 水平方向の中央揃え */
			justify-content: center; /* 垂直方向の中央揃え */
			text-align: center;
	}
	.row-container {
		display: flex;
		flex-direction: row;
		flex-wrap : nowrap;
	}

	.item1{
		flex: 0 600px;
	}
	.item-progress{
		flex: 0 300px;
		text-align: center;
	}
	.item3{
		height: auto;
	}

	.wrappermiddle{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
			grid-gap: 10px;
	}

	div#header {
		height: 14rem;	/*背景画像のサイズに合わせてボックスの高さを指定*/
		/* background-image:url("images/bg_header.jpg"); */	/*ヘッダ部分の背景画像*/
		background-repeat:no-repeat;		/*背景画像を繰り返さない*/
		background-color:#ffec47;		/*ヘッダ部分の背景色*/
	}
	.h1#donation-h1 {
		padding:2rem 0rem 1rem 0rem;		/*見出し内容の位置調整*/
		font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
		text-align: center;
	}

	div#greeting{
		padding: 0em 0em 0em 1em;
		text-align: left;
		font-size: 24px;
		}

	div#mainscript{
	width: 100%;
	height: auto;
	background-color:#FFF;
	}

	span#mainscriptred{
	color: #F00;
	font-weight: 700;
	}

	div#message{
		width: 100%;
		height: auto;
		padding: 1em 2em;
		margin: 1em 3em;
		background-color: #f0f8ff;
		border: solid 1px #8b0000;
		box-shadow: 0 3px 5px rgba(0.22, 0.22, 0, 0.22);
		color: #8b0000;
		font-size: 1.2em;
		font-weight: 600;
		text-align: center;
	}

	div#thanks{
		padding: 5em 0em 5em 0em;
		font-family:Arial, Helvetica, sans-serif;
		font-size: 1.5em;
		text-align: center;
		font-weight: 800;
	}

	/*画像用code*/
	div#figure1 img{
		width: 100%;
		max-width: 100%;
		height: auto;
		text-align: center;
		margin: 0 auto;
		display: block; 
	}

	div#figure-progress{
		width: 100%;
		max-width: 100%;
		height: auto;
		text-align: center;
		margin: 0 auto;
		display: block;
	}

	div#testfig2 img{
		width: 100%;
		max-width: 100%;
		height: auto;
		text-align: center;
		margin: 0 auto;
		display: block;
	}

	div#figure2 img{
		width: 80%;
		max-width: 80%;
		height: auto;
		text-align: center;
		margin: 0 auto;
		display: block;
	}

	.subscript{
		font-size: 1rem;
		font-weight: 400;
		text-align: center;
	}

	.inbox1{
		width: 90%;
			padding: 0.5em 1em;
			margin: 1em 2em 0.3em 0em;
			color: #000000;
			background: #fef4f4;
			border-left: solid 15px #640125;
		box-shadow: 0 3px 5px rgba(0.22, 0.22, 0, 0.22);
			font-size:1.2em;
			font-weight: 800;
	}

	.inbox2{
		position: relative;
			padding: 0.5em 0.5em;
			margin: 1em 0em 0.2em 0em;
			background: #FFF;
			border: dashed 2px #000000;
			font-size: 0.8rem;
	}
	.inbox2 .box-title{
			position: absolute;
			display: inline-block;
			top: -0.5em;
			left: 0.5em;
			padding: 0 0.5em;
			line-height: 1em;
			font-size: 1.5em;
			background: #FFF;
			color: #000000;
			font-weight: 600;
	}

	.inbox3 {
		width: auto;
			margin: 0em 0em 0.2em 0em;
		background-color: #fff8bd;
		opacity: 1;
		background-image:  linear-gradient(135deg, #fff799 25%, transparent 25%), linear-gradient(225deg, #fff799 25%, transparent 25%), linear-gradient(45deg, #fff799 25%, transparent 25%), linear-gradient(315deg, #fff799 25%, #fff8bd 25%);
		background-position:  8px 0, 8px 0, 0 0, 0 0;
		background-size: 8px 8px;
		background-repeat: repeat;
			border: solid 1px #8b0000;
	}
	.inbox3 .box-title {
			width: auto;
			font-size: 1.4em;
			background: #8b0000;
			padding: 0.5rem;
			text-align: center;
			color: #FFF;
			font-weight: bold;
			letter-spacing: 0.05em;
	}

	.borderscript{
		font-size: 20px;
		font-weight: 700;
	}

	.right1{
		padding: 0em 0em;
		margin: 0em 1em 0em 0em;
		font-size: 1em;
		text-align: right;
	}

	.right2{
		padding: 0em 0em;
		margin: 0em 1em 0em 0em;
		font-size: 0.6em;
		text-align: right;
	}

	.redtext{
		font-size: 1.4rem;
		color: #F00;
		text-align: center;
		font-weight: 600;
	}

	.midline{
	text-align: center;
	}

	.midlinehead{
	text-align: center;
	padding : 2rem 0;
	top : 50%;
	height: 8rem;
	font-size: 4.5rem;
	font-weight: 800;
	}

	.midlinesubhead{
	text-align: center;
	font-size: 3.0rem;
	font-weight: 600;	
	}

	.midlinebold{
	text-align: center;
	font-size: 1.2rem;
	font-weight: 600;
	}

	.note{
			padding: 0.5em 1em;
			margin: 0em 2em 0em 0em;
		font-size: 0.8em;
		color: #444444
	}

	/*アコーディオンメニュー隠し用*/
	.acd-check{
		display: none;
	}
	.acd-label{
		font-size: 1.6rem;
		background: #8b0000;
		color: #fff;
		display: block;
		margin: 0rem;
		padding: 0.5rem;
		font-weight: 700;
	}

	.scroll_button_btm a{
		width: 90%;
		max-width: 90%;
		background-color: #fff484;
		opacity: 0.8;
		background: linear-gradient(135deg, #ffd33f55 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #ffd33f 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #ffd33f55 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #ffd33f 25%, #fff484 25%) 0px 0/ 20px 20px;
			color:#f00;
			margin: 0 auto;
			padding:2px;
			font-size: 2.4rem;
			font-weight: 800;
			text-align: center;
			display: block;
	}
}

@media only screen and (min-width: 736px){
div#figure3 img{
	width: 100%;
	max-width: 100%;
	height: auto;
	text-align: center;
	margin: 0 auto;
}
.desktopHidden { display: none; }
.mobileHidden { display: block; }
}