doctype html
html
    // Bootstrap CSS
    //- var boot_css = "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    //link(rel='stylesheet', href=boot_css, crossorigin="anonymous")
    head 
      title 北医ネット(dev.)
    body
      div(id="root")
